[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    venv,
    .venv,
    env,
    */venv/*,
    */.venv/*,
    */env/*,
    *\venv\*,
    *\.venv\*,
    *\env\*,
    backend/venv,
    backend/venv/*
ignore = E402, F401, E302, W292, E128, E122, E501, W291, F821
per-file-ignores =
    backend/alembic/env.py:E402,F401
    backend/alembic/versions/*:E128,E122,E501,F401,W291
    backend/app/models/__init__.py:F401
    backend/app/models/user.py:F401
    backend/tests/test_users.py:F841
extend-ignore = E203, W503